<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">


	<!-- bean for Library class -->
	<bean id="library1" class="com.springcore.classtaskD14.Library"
		init-method="init" destroy-method="destroy">
		<property name="libraryName" value="Central City Library"></property>
		<property name="inChargePerson" value="Brandan" />
		<property name="contactNumber" value="9876543210" />
		<property name="genres">
			<set>
				<value>Fiction</value>
				<value>Mystery</value>
				<value>Science Fiction</value>
				<value>Biography</value>
			</set>
		</property>
	</bean>


	<!-- bean for Library class -->
	<bean id="library2" class="com.springcore.classtaskD14.Library"
		init-method="init" destroy-method="destroy" autowire-candidate="false">
		<property name="libraryName" value="Readers Paradise" />
		<property name="inChargePerson" value="Brone James" />
		<property name="contactNumber" value="7843824632" />
		<property name="genres">
			<set>
				<value>Thriller</value>
				<value>Fantasy</value>
				<value>Horror</value>
				<value>History</value>
			</set>
		</property>
	</bean>


	<!-- bean for Library class -->
	<bean id="library3" class="com.springcore.classtaskD14.Library"
		init-method="init" destroy-method="destroy" autowire-candidate="false">
		<property name="libraryName" value="Sunrise Library"></property>
		<property name="inChargePerson" value="Jonsnow" />
		<property name="contactNumber" value="3284937432" />
		<property name="genres">
			<set>
				<value>Business</value>
				<value>Comics</value>
				<value>Adventure</value>
				<value>Programming</value>
			</set>
		</property>
	</bean>


	<!-- bean for LibraryService class -->
	<bean id="libraryService"
		class="com.springcore.classtaskD14.LibraryService" autowire="byType">
		<property name="details">
			<set>
				<ref bean="library1" />
				<ref bean="library2" />
				<ref bean="library3" />
			</set>
		</property>
	</bean>

</beans>  